/*(BELOW) Merge CSS when merging UI */
.redLight{
  background-color: red;
  color: white;
}
.blueLight{
    background-color: blue;
  color: white;
}
.greenLight{
   background-color: green;
  color: white; 
}
.yellowLight{
    background-color: yellow;
  color: white;
}
.noLight{
    background-color: white;
  color: black;
}

/*(ABOVE) Merge CSS when merging UI */


html {
    height: 100%;
}
body {
   background-color: #d3cce3;

font-family: 'Paytone One', sans-serif;
  background: linear-gradient(#d3cce3, #e9e4f0);
}
/*
.noClick{
  pointer-events: none;
}
*/

.topLeft{
  width:150px;
  height:150px;
  background-color: #3c903c;
  border-radius: 100% 0% 0% 0%;
  margin:10px;
}
.TLClick{
  background: linear-gradient(-60deg, #3c903c, #75bc5d);
  box-shadow: -3px -3px 20px #3c903c;
}

.topRight{
  width:150px;
  height:150px;
  background-color: #b44b4b;
  border-radius: 0% 100% 0% 0%;
  margin:10px;
}
.TRClick{
  background: linear-gradient(-300deg, #b44b4b, #c3846f);
  box-shadow: 3px -3px 20px #b44b4b;
}


.bottomLeft{
   width:150px;
  height:150px;
  background-color: #3c3c90;
  border-radius: 0% 0% 0% 100%;
  margin:10px;
}
.BLClick{
  background: linear-gradient(230deg, #3c3c90, #4b65b4);
  box-shadow: -3px 3px 20px #3c3c90;
}


.bottomRight{
   width:150px;
  height:150px;
  background-color: #a6a662;
  border-radius: 0% 0% 100% 0%;
  margin:10px;
}
.BRClick{
  background: linear-gradient(130deg, #a6a662, #d1b972);
  box-shadow: 3px 3px 20px #a6a662;
}

.flex-container {
  display: flex;
}

.outerCircle {
 display: block;
  width:340px;
  height:340px;
padding:10px;
  background-color: #272727;
  box-shadow: 5px 8px 40px #676767;
  border-radius: 100% 100% 100% 100%;
}
.innerCircle{
    border-style: solid;
    border-width: 10px;
    border-color: #272727 ;
  pointer-events: none;
  position: relative;
  bottom: 270px;
  left: 70px;
  width:180px;
  height:180px;
  background-color: #cccccc;
  background: linear-gradient(130deg, #d1d1d1 10%, #ababab 25%, #d1d1d1 50%, #ababab 60%, #d1d1d1 80%, #ababab 100%);
  border-radius: 100% 100% 100% 100%;
}
.innerContent {
  padding:25px;
}
.centerContent {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.pointerEvents {
  pointer-events: auto;
}
.scale {
  transform: scale(1.2);
}

.simon{
  font-size: 240%;
  color: #272727;
}
.smallText {
  font-family:Verdana, Geneva, sans-serif;
  font-size: 55%;
}
.roundButtons {
  background-color: #b44b4b;
  border-radius: 100% 100% 100% 100%;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: #272727;
  box-shadow: -4px 1px 5px #5c5c5c;
}
.yellow {
  background-color: #a6a662;
}
.yellowOn {

  box-shadow:   inset 0 0 5px #443d27;
}

.redOn {
  box-shadow:   inset 0 0 5px #443d27;
}
.downForTheCount{
  position: relative;
  left:85px;
  bottom:30px;
  width: 32px;
  height:17px;
  padding:5px;
  background-color:#3f0000 ;
  color:#b73737;
  font-family: 'Press Start 2P', cursive;
  font-size: 110%;
  box-shadow:   inset 0 0 10px #b73737;
}

.buttonsAndCounter{
  position: relative;
  top: 10px;
}
.wrapper{  
  pointer-events: none;
  display:flex;
  justify-content: center;
  align-content: center;
}
.popUpMessage {
  border-radius: 25px;
  bottom:200px;
  position: relative;
  text-align: center;
  width: 150px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
   z-index: 99;
  
}

  .invisible {
    visibility: hidden;
  }

/* 
box-shadow:         inset 0 0 10px #000000;
}
  justify-content: center;
  align-items: center;
*/

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
  .scale {
  transform: scale(1);
}
}

@media only screen and (max-width: 400px) {
.popUpMessage {
  border-radius: 25px;
  bottom:170px;
  position: relative;
  text-align: center;
  width: 150px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
   z-index: 99;
  
}
  .scale {
  transform: scale(.7);
    margin: -30px;
}

}